.product_desc p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
#products {
    height: calc(100vh - 170px);
    overflow: hidden auto;
}
.shadow-bottom {
    box-shadow: 0 -0.4rem 0.65rem -0.35rem rgb(0 0 0 / 13%);
}